server:
  port: 8011
spring:
  application:
    name: user-service
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8002/eureka/ #这里可以通过“，”注册到多个eurekaServer上面 ,http://localhost:8003/eureka/
